.headerText {
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: rgba(56,79,124,255);

  &:after {
    content: '*';
    color: red;
    margin-left: 5px;
  }
}

.cakes-imgs {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) { 
    width: 50%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  img {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
  }

  .cake-input {
    width: 20px;
    margin-right: 10px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #C9A657;
    border-radius: 5px;
  }

  .cake-input:focus {
    border-color: #8B7E53;
    outline: none;
  }
}

label {
  &:after {
    content: '*';
    color: red;
    margin-left: 5px;
  }
}