.text-left {
  text-align: left;
  line-height: 1.5;
}

.divider {
  width: 100%;
  border: 1px solid #ccc
}

.title {
  font-size: 24px;
  text-align: left;
  font-weight: 500;
  color: rgba(56,79,124,255);
}

.subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
  color: rgba(56,79,124,255);
}